@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    overflow: hidden;
    background-color: #090f1a;
}